@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-fonts: 'Roboto', sans-serif;
$blue: #047DC6;
$dark: #000;
$light: #fff;
$t-white: rgba(255, 255, 255, 0.7);
$grey: #D9D9D9;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

// top nav container
.ath360-top-nav-container {
    width: 100%;
    margin: auto;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    top: 50px;

    .top-nav {
        max-width: 1140px;
        background-color: $light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        border-radius: 50px;
        padding: 10px 5%;
        transition: all 0.5s ease-in-out;

        .top-nav-logo {
            line-height: 0;

            img {
                width: 100px;
                height: auto;
                transition: all 0.2s ease;
            }
        }

        .top-nav-links {
            list-style: none;
            display: flex;
            justify-content: space-between;
            position: relative;

            .nav-link-under {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 5px;
                background-color: $blue;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                top: 35px;
            }

            .top-nav-link {
                a {
                    font-family: $title-font;
                    font-size: 14px;
                    font-weight: 600;
                    color: $dark;
                    text-decoration: none;
                    padding: 10px 15px;
                }
            }
        }
    }
}

// mobile nav container
.ath360-m-nav-container {
    display: none;
    z-index: 9 !important;
}

// hero container
.ath360-hero-container {
    width: 100%;
    height: 110vh;
    background-image: url('https://nuwan-dev.github.io/athlete360/assets/images/gym.jpg') !important;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

    .hero-container-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 110vh;

        .hero {
            position: relative;
            max-width: 1140px;
            margin: auto;
            top: 200px;

            h1 {
                color: $light;
                font-family: $text-fonts;
                font-size: 50px;
                font-weight: 800;
                position: inherit;
                text-align: center;
                line-height: 1;
                text-transform: uppercase;
                line-height: 1em;
            }

            h2 {
                color: $light;
                font-family: $text-fonts;
                font-size: 18px;
                font-weight: 400;
                position: inherit;
                top: 50px;
                text-align: center;
                text-transform: uppercase;
            }

            .hero-btns {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 25px;
                position: relative;
                top: 100px;

                .hero-btn {
                    text-decoration: none;
                    font-family: $text-fonts;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 20px 15px;
                    color: $light;
                    display: block;
                    transition: 0.5s ease-in-out;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .hero-btn:hover {
                    transform: translateY(-5px);
                }

                .hero-btn-1 {
                    background-color: $blue;
                }

                .hero-btn-1:hover {
                    background-color: $light;
                    color: $blue;
                }

                .hero-btn-2 {
                    border: 2px solid $blue;
                }

                .hero-btn-2:hover {
                    border-color: $light;
                    color: $blue;
                    background-color: $light;
                }
            }
        }
    }
}

// fitness journey container
.ath360-fitness-journey-container {
    background-color: $blue;
    width: 100%;
    height: 870px;
    display: flex;
    align-items: center;

    .fitness-journey {
        margin: auto;
        position: relative;
        max-width: 1140px;
        display: inherit;
        justify-content: space-between !important;
        align-items: center;
        column-gap: 50px;

        .fitness-jry-imgs {
            display: inherit;
            flex-direction: column;
            flex: 1;
            row-gap: 60px;

            .fitness-jry-imgs-1 {
                display: inherit;
                column-gap: 45px;
            }

            .fitness-jry-imgs-2 {
                display: inherit;
                column-gap: 45px;
            }

        }
    }

    .fitness-jry-txt {
        color: $light;
        font-family: $text-fonts;

        h2 {
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;
        }

        h4 {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
        }
    }
}

// start today container
.ath360-start-today-container {
    width: 100%;
    height: 100vh;
    background-image: url('https://nuwan-dev.github.io/athlete360/assets/images/image.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

    .start-today-overlay {
        margin: auto;
        width: 100%;
        max-width: 1140px;
        display: flex;
        justify-content: flex-start;

        .start-today {
            // max-width: 1140px;
            margin-left: 0;
            display: flex;
            justify-content: center;

            h2 {
                color: $light;
                font-size: 50px;
                font-family: $text-fonts;
                font-weight: bold;
                text-transform: uppercase;
                // letter-spacing: 10px;
            }

            .start-today-sub {
                margin: 65px 0;

                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    img {
                        width: 20px;
                        margin-right: 25px;
                    }

                    font-size: 18px;
                    color: $light;
                    font-family: $text-fonts;
                    font-weight: bold;
                }
            }

            .start-today-btn {
                background-color: $blue;
                color: $light;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $text-fonts;
                text-decoration: none;
                padding: 20px 15px;
                display: inline-block;
            }
        }
    }
}

// plans container
.ath360-plans-container {
    width: 100%;
    // height: 870px;
    background-color: $blue;
    padding: 75px 0;

    .plans-header {
        color: $light;
        font-size: 50px;
        font-family: $text-fonts;
        font-weight: bold;
        text-transform: uppercase;
        // letter-spacing: 10px;
        text-align: center;

    }

    .plans {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        width: 100%;
        max-width: 1140px;
        margin: auto;
        margin-top: 55px;

        .plan {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0;

            img {
                width: auto;
                height: 200px;
            }

            .plan-img {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 200px;
            }

            .plan-img-1 {
                background-image: url('https://nuwan-dev.github.io/athlete360/assets/images/man-doing-weight.jpg') !important;
            }

            .plan-img-2 {
                background-image: url('https://nuwan-dev.github.io/athlete360/assets/images/man-lifting-weight.jpg') !important;
            }

            .plan-img-3 {
                background-image: url('https://nuwan-dev.github.io/athlete360/assets/images/woman-doing-onehadn-pushups.jpg') !important;
            }


            .plan-txt {
                background-color: $light;
                color: $dark;
                text-align: center;
                padding: 10px 15px 30px;
                font-family: $text-fonts;
                font-size: 12px;

                h3 {
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    font-size: 15px;
                }

                img {
                    width: 25px;
                    height: auto;
                    margin: auto;
                    margin-top: 25px;
                    cursor: pointer;
                }
            }

        }
    }
}

// form container
.ath360-form-container {
    .form {
        max-width: 250px;

        .reg-form {
            display: flex;
            justify-content: center;
            flex-direction: column;

            button {
                background-color: $blue;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                border: none;
                display: inherit;
                align-items: center;

                img {
                    width: 26px;
                    height: auto;
                }
            }
        }
    }
}

// why us container
.ath360-why-us-container {
    width: 100%;
    background-color: $light;
    padding: 85px 5% 100px;

    .why-us-header {
        color: $dark;
        font-size: 50px;
        font-family: $text-fonts;
        font-weight: bold;
        text-transform: uppercase;
        // letter-spacing: 10px;
        text-align: center;
    }

    .why-us {
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        margin-top: 55px;

        .why {
            padding: 25px 32px;

            img {
                width: 282px;

            }

            h4 {
                color: $light;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $text-fonts;
                // text-align: center;
                margin: 15px 0;
            }

            p {
                color: $light;
                font-family: $text-fonts;
                // text-align: center;
                font-size: 12px;
            }

            .why-learn-more-txt {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-family: $text-fonts;
                // justify-content: center;
                margin-top: 15px;

                img {
                    width: 12px;
                    margin-left: 10px;
                }
            }
        }

        .why-1 {
            background-color: $blue;
        }

        .why-2 {
            background-color: $grey;

            h4,
            p {
                color: $dark;
            }
        }

        .why-3 {
            background-color: $dark;
        }
    }
}

// icon container
.ath360-icon-container {
    width: 100%;
    background-color: $blue;
    padding: 0;

    .icon-container {
        max-width: 1140px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 77px 0;
        flex-wrap: wrap;

        .icon-set {
            .icon-blank {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                margin: auto;
                background-color: $light;

            }

            h4,
            p {
                color: $light;
                text-align: center;
            }

            h4 {
                font-size: 18px;
                font-family: $text-fonts;
                font-weight: bold;
                margin-top: 14px;
            }

            p {
                font-size: 14px;
                font-family: $text-fonts;
            }
        }
    }

}

// contact container
.ath360-contact-container {
    width: 100%;
    background-color: #F7F7F7;
    padding: 0;

    .contact {
        max-width: 1140px;
        margin: auto;
        padding: 35px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .con-msg {
            flex: 1;

            h4 {
                font-size: 18px;
                font-family: $text-fonts;
                color: #000;
            }

            p {
                font-size: 14px;
                font-family: $text-fonts;
                color: #666666;
            }
        }

        .con-det {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 20px;

            .con-set {
                display: inherit;
                align-items: inherit;
                justify-content: inherit;

                .con-icon {
                    width: 32px;
                    height: 32px;
                    background-color: $light;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 11px;

                    img {
                        width: 18px;
                    }
                }

                .con-txts {
                    h4 {
                        color: $dark;
                        font-size: 12px;
                        font-weight: bold;
                        font-family: $text-fonts;
                    }

                    a {
                        font-family: $text-fonts;
                        font-size: 14px;
                        color: $dark;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }



    }
}

// footer container 
.ath360-footer-container {
    width: 100%;
    background-color: $light;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .footer {
        max-width: 1140px;
        margin: auto;
        width: 100%;

        .footer-icon {
            margin: auto;
            padding: 17px 0px;
            border-bottom: 2px $blue solid;
            display: flex;
            justify-content: center;

            img {
                width: 150px;
                margin: auto;
            }
        }

        hr {
            background-color: $blue;
            width: 2px;
        }

        .footer-links {
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .copy-right {
                font-size: 14px;
                font-family: $text-fonts;
                color: #666;
            }

            .social-icons {
                display: flex;
                align-items: center;
                column-gap: 15px;

                .facebook {
                    width: 32px;
                }

                div {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #666;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        line-height: 0;

                        .instagram,
                        .tik-tok {
                            width: 18px;
                            height: auto;
                        }
                    }
                }
            }

            .footer-links-sec {
                a {
                    text-decoration: none;
                    font-size: 14px;
                    font-family: $text-fonts;
                    color: #666;
                    margin-right: 10px;
                }
            }
        }
    }


}

// whatsapp-btn
.whatsapp-btn-container {
    // position: absolute;

    .whatsapp-btn {
        display: none;
        position: fixed;
        bottom: 75px;
        right: -100%;
        z-index: 999;
        transition: all ease-in-out 0.2s;

        img {
            width: 55px;
        }
    }
}

//* active clasess

// nav bar active color
.top-nav-active {
    transition: all 1s ease-in-out;
    background-color: $t-white !important;
    backdrop-filter: blur(5px);
}

// whatsapp active on scroll
.whats-app-active {
    display: block !important;
    position: fixed;
    transition: all ease-in-out 0.2s;
    right: 20px !important;
}