@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

.ath360-top-nav-container {
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  top: 50px;
}
.ath360-top-nav-container .top-nav {
  max-width: 1140px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 50px;
  padding: 10px 5%;
  transition: all 0.5s ease-in-out;
}
.ath360-top-nav-container .top-nav .top-nav-logo {
  line-height: 0;
}
.ath360-top-nav-container .top-nav .top-nav-logo img {
  width: 100px;
  height: auto;
  transition: all 0.2s ease;
}
.ath360-top-nav-container .top-nav .top-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ath360-top-nav-container .top-nav .top-nav-links .nav-link-under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #047DC6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  top: 35px;
}
.ath360-top-nav-container .top-nav .top-nav-links .top-nav-link a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
}

.ath360-m-nav-container {
  display: none;
  z-index: 9 !important;
}

.ath360-hero-container {
  width: 100%;
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/gym.jpg") !important;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.ath360-hero-container .hero-container-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.ath360-hero-container .hero-container-overlay .hero {
  max-width: 1140px;
  margin: auto;
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}
.ath360-hero-container .hero-container-overlay .hero h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 800;
  position: inherit;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  line-height: 1em;
}
.ath360-hero-container .hero-container-overlay .hero h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: inherit;
  top: 50px;
  text-align: center;
  text-transform: uppercase;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  position: relative;
  top: 100px;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 15px;
  color: #fff;
  display: block;
  transition: 0.5s ease-in-out;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn:hover {
  transform: translateY(-5px);
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn-1 {
  background-color: #047DC6;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn-1:hover {
  background-color: #fff;
  color: #047DC6;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn-2 {
  border: 2px solid #047DC6;
}
.ath360-hero-container .hero-container-overlay .hero .hero-btns .hero-btn-2:hover {
  border-color: #fff;
  color: #047DC6;
  background-color: #fff;
}

.ath360-fitness-journey-container {
  background-color: #047DC6;
  width: 100%;
  height: 870px;
  display: flex;
  align-items: center;
}
.ath360-fitness-journey-container .fitness-journey {
  margin: auto;
  position: relative;
  max-width: 1140px;
  display: inherit;
  justify-content: space-between !important;
  align-items: center;
  column-gap: 50px;
}
.ath360-fitness-journey-container .fitness-journey .fitness-jry-imgs {
  display: inherit;
  flex-direction: column;
  flex: 1;
  row-gap: 60px;
}
.ath360-fitness-journey-container .fitness-journey .fitness-jry-imgs .fitness-jry-imgs-1 {
  display: inherit;
  column-gap: 45px;
}
.ath360-fitness-journey-container .fitness-journey .fitness-jry-imgs .fitness-jry-imgs-2 {
  display: inherit;
  column-gap: 45px;
}
.ath360-fitness-journey-container .fitness-jry-txt {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.ath360-fitness-journey-container .fitness-jry-txt h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.ath360-fitness-journey-container .fitness-jry-txt h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.ath360-fitness-journey-container .fitness-jry-txt p {
  font-size: 18px;
}

.ath360-start-today-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/image.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.ath360-start-today-container .start-today-overlay {
  margin: auto;
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: flex-start;
}
.ath360-start-today-container .start-today-overlay .start-today {
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.ath360-start-today-container .start-today-overlay .start-today h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.ath360-start-today-container .start-today-overlay .start-today .start-today-sub {
  margin: 65px 0;
}
.ath360-start-today-container .start-today-overlay .start-today .start-today-sub div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.ath360-start-today-container .start-today-overlay .start-today .start-today-sub div img {
  width: 20px;
  margin-right: 25px;
}
.ath360-start-today-container .start-today-overlay .start-today .start-today-btn {
  background-color: #047DC6;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 20px 15px;
  display: inline-block;
}

.ath360-pricing-container {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.ath360-pricing-container .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: auto;
}
.ath360-pricing-container .pricing h2 {
  color: #097FD9;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.ath360-pricing-container .pricing h1 {
  color: #000;
  margin-top: 8px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ath360-pricing-container .pricing .plans {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 25px;
}
.ath360-pricing-container .pricing .plans .plan {
  padding: 24px 28px;
  border-radius: 16px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ath360-pricing-container .pricing .plans .plan h2 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-top: 24px;
}
.ath360-pricing-container .pricing .plans .plan h3 {
  color: #097FD9;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
.ath360-pricing-container .pricing .plans .plan h4 {
  color: #878787;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-top: 8px;
}
.ath360-pricing-container .pricing .plans .plan ul {
  margin-top: 24px;
}
.ath360-pricing-container .pricing .plans .plan ul li {
  color: #E1E1E1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.ath360-pricing-container .pricing .plans .plan ul li img {
  font-size: 24px;
}
.ath360-pricing-container .pricing .plans .plan ul li:not(:last-child) {
  margin-bottom: 16px;
}
.ath360-pricing-container .pricing .plans .plan button {
  border-radius: 12px;
  background: #097FD9;
  padding: 16px 64px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 38px;
}
.ath360-pricing-container .pricing .plans .plan .plan-btn-hvr {
  transition: 0.2s ease-in-out;
}
.ath360-pricing-container .pricing .plans .plan button:hover {
  transform: translateY(-5px);
}
.ath360-pricing-container .pricing .plans .plan-2 {
  position: relative;
  padding: 42px 34px;
  background: #097FD9;
  border: none;
  overflow: hidden;
}
.ath360-pricing-container .pricing .plans .plan-2 h3 {
  color: #fff;
}
.ath360-pricing-container .pricing .plans .plan-2 h4 {
  color: #fff;
}
.ath360-pricing-container .pricing .plans .plan-2 p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transform: rotate(45deg);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: -49.698px;
  top: 18px;
  width: 207px;
  background-color: #000;
  padding: 16px;
  clip-path: polygon(36.07% -15.18%, 55.04% -71.61%, 107.58% 128.81%, -0.17% 124.07%);
}
.ath360-pricing-container .pricing .plans .plan-2 button {
  background: #000;
}
.ath360-pricing-container .ath360-form-container {
  width: 100%;
  position: absolute;
  top: 50vh;
  display: none;
}
.ath360-pricing-container .ath360-form-container .form {
  max-width: 1000px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 24px 28px;
}
.ath360-pricing-container .ath360-form-container .form .reg-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.ath360-pricing-container .ath360-form-container .form .reg-form label {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.ath360-pricing-container .ath360-form-container .form .reg-form button {
  background-color: #047DC6;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: inherit;
  align-items: center;
  position: relative;
  margin: auto;
  margin-right: 0;
  justify-content: center;
}
.ath360-pricing-container .ath360-form-container .form .reg-form button img {
  width: 26px;
  height: auto;
}
.ath360-pricing-container .ath-form-active {
  display: block;
}

.ath360-testimonial-container .testimonial {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
}
.ath360-testimonial-container .testimonial .slick-track {
  padding-top: 50px;
}
.ath360-testimonial-container .testimonial .testi {
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.ath360-plans-container {
  width: 100%;
  background-color: #047DC6;
  padding: 75px 0;
}
.ath360-plans-container .plans-header {
  color: #fff;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ath360-plans-container .plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  margin-top: 55px;
}
.ath360-plans-container .plans .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
}
.ath360-plans-container .plans .plan img {
  width: auto;
  height: 400px;
}
.ath360-plans-container .plans .plan .plan-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
.ath360-plans-container .plans .plan .plan-img-1 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/man-doing-weight.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-img-2 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/man-lifting-weight.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-img-3 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/woman-doing-onehadn-pushups.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-img-4 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/pexels-cesar-galeão-3253501.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-img-5 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/pexels-leon-ardho-1552242.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-img-6 {
  background-image: url("https://nuwan-dev.github.io/athlete360/assets/images/pexels-li-sun-2294361.jpg") !important;
}
.ath360-plans-container .plans .plan .plan-txt {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px 15px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.ath360-plans-container .plans .plan .plan-txt h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
}
.ath360-plans-container .plans .plan .plan-txt img {
  width: 25px;
  height: auto;
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
}

.ath360-why-us-container {
  width: 100%;
  background-color: #fff;
  padding: 85px 5% 100px;
}
.ath360-why-us-container .why-us-header {
  color: #000;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ath360-why-us-container .why-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.ath360-why-us-container .why-us .why {
  padding: 25px 32px;
  min-height: 450px;
  transition: ease-in-out 0.3s;
}
.ath360-why-us-container .why-us .why img {
  width: 100%;
}
.ath360-why-us-container .why-us .why h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
}
.ath360-why-us-container .why-us .why p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.ath360-why-us-container .why-us .why .why-learn-more-txt {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
.ath360-why-us-container .why-us .why .why-learn-more-txt img {
  width: 12px;
  margin-left: 10px;
}
.ath360-why-us-container .why-us .why:hover {
  transform: translateY(-10px);
}
.ath360-why-us-container .why-us .why-1 {
  background-color: #047DC6;
}
.ath360-why-us-container .why-us .why-2 {
  background-color: #D9D9D9;
}
.ath360-why-us-container .why-us .why-2 h4,
.ath360-why-us-container .why-us .why-2 p {
  color: #000;
}
.ath360-why-us-container .why-us .why-3 {
  background-color: #000;
}

.ath360-icon-container {
  width: 100%;
  background-color: #047DC6;
  padding: 0;
}
.ath360-icon-container .icon-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 77px 0;
  flex-wrap: wrap;
}
.ath360-icon-container .icon-container .icon-set .icon-blank {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: auto;
  background-color: #fff;
}
.ath360-icon-container .icon-container .icon-set h4,
.ath360-icon-container .icon-container .icon-set p {
  color: #fff;
  text-align: center;
}
.ath360-icon-container .icon-container .icon-set h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 14px;
}
.ath360-icon-container .icon-container .icon-set p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.ath360-contact-container {
  width: 100%;
  background-color: #F7F7F7;
  padding: 0;
}
.ath360-contact-container .contact {
  max-width: 1140px;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ath360-contact-container .contact .con-msg {
  flex: 1;
}
.ath360-contact-container .contact .con-msg h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #000;
}
.ath360-contact-container .contact .con-msg p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #666666;
}
.ath360-contact-container .contact .con-det {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.ath360-contact-container .contact .con-det .con-set {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.ath360-contact-container .contact .con-det .con-set .con-icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}
.ath360-contact-container .contact .con-det .con-set .con-icon img {
  width: 18px;
}
.ath360-contact-container .contact .con-det .con-set .con-txts h4 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.ath360-contact-container .contact .con-det .con-set .con-txts a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.ath360-footer-container {
  width: 100%;
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ath360-footer-container .footer {
  max-width: 1140px;
  margin: auto;
  width: 100%;
}
.ath360-footer-container .footer .footer-icon {
  margin: auto;
  padding: 17px 0px;
  border-bottom: 2px #047DC6 solid;
  display: flex;
  justify-content: center;
}
.ath360-footer-container .footer .footer-icon img {
  width: 150px;
  margin: auto;
}
.ath360-footer-container .footer hr {
  background-color: #047DC6;
  width: 2px;
}
.ath360-footer-container .footer .footer-links {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ath360-footer-container .footer .footer-links .copy-right {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #666;
}
.ath360-footer-container .footer .footer-links .social-icons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.ath360-footer-container .footer .footer-links .social-icons .facebook {
  width: 32px;
}
.ath360-footer-container .footer .footer-links .social-icons div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ath360-footer-container .footer .footer-links .social-icons div a {
  line-height: 0;
}
.ath360-footer-container .footer .footer-links .social-icons div a .instagram,
.ath360-footer-container .footer .footer-links .social-icons div a .tik-tok {
  width: 18px;
  height: auto;
}
.ath360-footer-container .footer .footer-links .footer-links-sec a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #666;
  margin-right: 10px;
}

.whatsapp-btn-container .whatsapp-btn {
  display: none;
  position: fixed;
  bottom: 75px;
  right: -100%;
  z-index: 999;
  transition: all ease-in-out 0.2s;
}
.whatsapp-btn-container .whatsapp-btn img {
  width: 55px;
}

.top-nav-active {
  transition: all 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(5px);
}

.whats-app-active {
  display: block !important;
  position: fixed;
  transition: all ease-in-out 0.2s;
  right: 20px !important;
}

/*# sourceMappingURL=main.css.map */
