@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

.ath360-top-nav-container {
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  top: 50px;
}
.ath360-top-nav-container .top-nav {
  max-width: 1140px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 50px;
  padding: 10px 5%;
  transition: all 0.5s ease-in-out;
}
.ath360-top-nav-container .top-nav .top-nav-logo {
  line-height: 0;
}
.ath360-top-nav-container .top-nav .top-nav-logo img {
  width: 100px;
  height: auto;
  transition: all 0.2s ease;
}
.ath360-top-nav-container .top-nav .top-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ath360-top-nav-container .top-nav .top-nav-links .nav-link-under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #047DC6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  top: 35px;
}
.ath360-top-nav-container .top-nav .top-nav-links .top-nav-link a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
}

.ath360-m-nav-container {
  display: none;
  z-index: 9 !important;
}

.ath360-pricing-container {
  width: 100%;
  background-color: #fff;
}
.ath360-pricing-container .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: auto;
}
.ath360-pricing-container .pricing h2 {
  color: #097FD9;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.ath360-pricing-container .pricing h1 {
  color: #000;
  margin-top: 8px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ath360-pricing-container .pricing .plans {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 25px;
}
.ath360-pricing-container .pricing .plans .plan {
  padding: 24px 28px;
  border-radius: 16px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ath360-pricing-container .pricing .plans .plan h2 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-top: 24px;
}
.ath360-pricing-container .pricing .plans .plan h3 {
  color: #097FD9;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
.ath360-pricing-container .pricing .plans .plan h4 {
  color: #878787;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-top: 8px;
}
.ath360-pricing-container .pricing .plans .plan ul {
  margin-top: 24px;
}
.ath360-pricing-container .pricing .plans .plan ul li {
  color: #E1E1E1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.ath360-pricing-container .pricing .plans .plan ul li img {
  font-size: 24px;
}
.ath360-pricing-container .pricing .plans .plan ul li:not(:last-child) {
  margin-bottom: 16px;
}
.ath360-pricing-container .pricing .plans .plan button {
  border-radius: 12px;
  background: #097FD9;
  padding: 16px 64px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 38px;
}
.ath360-pricing-container .pricing .plans .plan .plan-btn-hvr {
  transition: 0.2s ease-in-out;
}
.ath360-pricing-container .pricing .plans .plan button:hover {
  transform: translateY(-5px);
}
.ath360-pricing-container .pricing .plans .plan-2 {
  position: relative;
  padding: 42px 34px;
  background: #097FD9;
  border: none;
  overflow: hidden;
}
.ath360-pricing-container .pricing .plans .plan-2 h3 {
  color: #fff;
}
.ath360-pricing-container .pricing .plans .plan-2 h4 {
  color: #fff;
}
.ath360-pricing-container .pricing .plans .plan-2 p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transform: rotate(45deg);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: -49.698px;
  top: 18px;
  width: 207px;
  background-color: #000;
  padding: 16px;
  clip-path: polygon(36.07% -15.18%, 55.04% -71.61%, 107.58% 128.81%, -0.17% 124.07%);
}
.ath360-pricing-container .pricing .plans .plan-2 button {
  background: #000;
}

@media screen and (max-width: 850px) {
  .ath360-pricing-container .pricing .plans {
    flex-direction: column !important;
    justify-content: center !important;
  }
}

/*# sourceMappingURL=page.css.map */
