@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-fonts: 'Roboto', sans-serif;
$blue: #047DC6;
$dark: #000;
$light: #fff;
$t-white: rgba(255, 255, 255, 0.7);
$grey: #D9D9D9;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// screen < 540
@media screen and (max-width: 540px) {

    // top nav container
    .ath360-top-nav-container {
        display: none;
    }

    // mobile nav container
    .ath360-m-nav-container {
        display: block;
        background-color: $light;
        width: 100%;
        padding: 15px 0;
        position: fixed;
        bottom: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        .m-nav {
            padding: 0 5%;

            .m-nav-icons {
                display: flex;
                justify-content: space-between;

                a {
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: auto;
                        display: block;
                        transition: all 0.2s ease-in-out;
                    }

                    img:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    // hero container*
    .ath360-hero-container {
        height: 100vh;

        .hero-container-overlay {
            height: 100vh;

            .hero {
                padding: 50px 5%;
                top: 0;

                h1 {
                    font-size: 40px;
                    top: 200px;
                }

                h2 {
                    font-size: 16px;
                    top: 225px;
                }

                .hero-btns {
                    // top: 250px;

                    .hero-btn {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // fitness journey container
    .ath360-fitness-journey-container {
        height: 100%;
        padding-top: 50px !important;
        padding-bottom: 50px !important;

        .fitness-journey {
            flex-direction: column;

            .fitness-jry-imgs {
                row-gap: 20px;

                .fitness-jry-imgs-1 {
                    column-gap: 20px;

                    img {
                        width: 155px;
                    }
                }

                .fitness-jry-imgs-2 {
                    column-gap: 20px;

                    img {
                        width: 155px;
                    }
                }
            }

            .fitness-jry-txt {
                text-align: center;
                position: relative;
                // top: 25px;

                h2 {
                    font-size: 35px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    // start today container
    .ath360-start-today-container {
        width: 100%;
        background-position: center right;

        .start-today-overlay {
            background-color: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;

            .start-today {
                text-align: center;
                position: relative;
                margin: auto;
                top: 0 !important;

                .start-today-sub-1 {
                    margin: auto;

                    h2 {
                        font-size: 35px;
                    }

                    .start-today-sub {
                        margin-top: 25px;

                        div {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    // plans container
    .ath360-plans-container {
        .plans-header {
            font-size: 35px;
        }

        .plans {
            padding-right: 5%;
            padding-left: 5%;
        }
    }

    //why us container
    .ath360-why-us-container {
        padding: 50px 5%;

        .why-us-header {
            font-size: 35px;
        }

        .why-us {
            margin-top: 25px;
            flex-wrap: wrap;
        }
    }

    //icon container 
    .ath360-icon-container {
        padding: 50px 5%;
    }

    // contact container
    .ath360-contact-container {
        .contact {
            flex-wrap: wrap;
            padding-left: 5%;
            padding-right: 5%;

            .con-det {
                flex-direction: column;
                flex: 1;
            }
        }
    }

    // footer container 
    .ath360-footer-container {
        .footer {
            margin-bottom: 50px;

            .footer-links {
                flex-direction: column;
                row-gap: 15px;
            }
        }
    }

}

// screen > 540
@media screen and (min-width: 540px) {

    // top  nav container
    .ath360-top-nav-container {
        padding: 0 5%;

        .top-nav {
            .top-nav-logo {
                line-height: 0;

                img {
                    width: 70px;
                    height: auto;
                }
            }
        }
    }

    // hero container
    .ath360-hero-container {
        // height: 100vh;

        .hero-container-overlay {
            // height: 100vh;

            .hero {
                padding: 0 5%;
            }
        }
    }
}

// screen > 940
@media screen and (min-width: 940px) {

    // top  nav container
    .ath360-top-nav-container {
        padding: 0 5%;

        .top-nav {
            .top-nav-logo {
                line-height: 0;

                img {
                    width: 100px;
                    height: auto;
                }
            }

            .top-nav-links {
                .nav-link-under {
                    top: 35px;
                }
            }
        }
    }

    // hero container
    .ath360-hero-container {
        // height: 110vh;

        .hero-container-overlay {
            // height: 110vh;   
        }
    }
}

// screen < 940
@media screen and (max-width: 940px) {

    // top  nav container
    .ath360-top-nav-container {
        .top-nav {
            .top-nav-links {
                .nav-link-under {
                    top: 30px;
                }
            }
        }
    }

    // hero container
    .ath360-hero-container {
        height: 800px;

        .hero-container-overlay {
            height: 800px;
        }
    }

    // fitness journey container
    .ath360-fitness-journey-container {
        padding: 50px 5%;
        height: 100%;

        .fitness-journey {
            flex-direction: column;

            .fitness-jry-txt {
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    // start today container
    .ath360-start-today-container {
        width: 100%;
        background-position: center right;
        height: 100vh;
        margin: auto;

        .start-today-overlay {
            background-color: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;
            padding: 5%;

            .start-today {
                text-align: center;
                position: relative;
                top: 150px;

                .start-today-sub {
                    margin-top: 25px;

                    div {
                        justify-content: center;
                    }
                }
            }
        }
    }

    // why us container 
    .ath360-why-us-container {
        .why-us {
            flex-wrap: wrap;
            padding-right: 5%;
            padding-left: 5%;
        }
    }

    // contact container
    .ath360-contact-container {
        .contact {
            flex-wrap: wrap;
            padding-left: 5%;
            padding-right: 5%;
            flex-direction: column;

            .con-msg {
                text-align: center;
                margin-bottom: 20px;
            }

            .con-det {
                flex-direction: column;
                justify-content: flex-start;
                flex: 1;
                align-items: flex-start;
                row-gap: 10px;
            }
        }
    }
}